.player {
  background-color: #3e5454;
  color: white;
  padding: 20px 70px 0 130px;
}

.player-track {
  /* margin-top: 0px; */
}

.playerlist-cover {
  /* padding-right: rem; */
  text-align: center;
}

.playerlist-cover-img {
  width: 60px;
  height: 60px;
  border: solid 1px #87aaaa;
  box-shadow: 0px 0px 10px #87aaaa;
}

.playerlist-info {
  margin: auto 0;
  text-shadow: 0 0 1.4px white;
}

.music-player {
  margin: auto;
  text-align: center;
}

.player-cover {
  border-radius: 50px;
}

.player-cover-img {
  width: 370px;
  height: 370px;
  border: solid 2px #87aaaa;
  box-shadow: 0px 0px 100px #87aaaa;
  /* border-radius: 100%; */
}

.player-info {
  text-shadow: 0 0 2px white;
  margin-top: 15px;
}

.player-timer {
  margin: 12px 0 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-range {
  margin: 0 15px;
  -webkit-appearance: none;
  background-color: white;
  width: 50%;
  height: 1px;
  box-shadow: 0px 0px 5px white;
}
.player-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0px 0px 5px white;
}

.player-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-button {
  font-size: 1.7rem;
  padding: 0 35px;
  opacity: 0.7;
  filter: drop-shadow(0px 0px 1px white);
  transition-duration: 1s;
}
.player-button:hover {
  opacity: 1;
  filter: drop-shadow(0px 0px 2px white);
  transition-duration: 0.2s;
}

.player-button-2 {
  font-size: 1.3rem;
  padding: 0 20px;
  opacity: 0.4;
  filter: drop-shadow(0px 0px 1px white);
  transition-duration: 1s;
}
.player-button-2:hover {
  opacity: 1;
  filter: drop-shadow(0px 0px 2px white);
  transition-duration: 0.2s;
}
