body {
  background-color: #87aaaa;
  font-family: "hiragino";
}

.nav-bg {
  position: relative;
  z-index: 1;
  background-color: black;
  box-shadow: 0px 0px 30px black;
}

.navi {
  color: white;
}

.navimenu {
  color: white;
  opacity: 0.8;
}

.navimenu:hover {
  color: white;
  opacity: 1;
}

.main {
  color: white;
  background-color: #87aaaa;
  /* margin-left: 70px;
  margin-right: 70px; */
}

.main-text {
  margin: auto 0px auto 70px;
}

.wave-img {
  position: relative;
  margin-left: 132px;
  align-items: right;
  /* TODO: 사진 오른쪽에 붙게 */
  /* background: linear-gradient(transparent, transparent, transparent), url("./img/wave.png"); */
  background-image: linear-gradient(to right, #87aaaa, transparent), url("../img/wave.png");
  width: 640px;
  height: 400px;
}
